<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailFooterLogo>Experiences_Shared_Document_Folder/Login_Mobile_SD_Copy_png1.png</emailFooterLogo>
    <emailFooterText>copado.com</emailFooterText>
    <emailSenderAddress>rmartinez@copado.com</emailSenderAddress>
    <emailSenderName>copado-custom</emailSenderName>
    <embeddedLoginEnabled>true</embeddedLoginEnabled>
    <enableApexCDNCaching>true</enableApexCDNCaching>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableExpFriendlyUrlsAsDefault>false</enableExpFriendlyUrlsAsDefault>
    <enableExperienceBundleBasedSnaOverrideEnabled>true</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableImageOptimizationCDN>true</enableImageOptimizationCDN>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableLWRExperienceConnectedApp>false</enableLWRExperienceConnectedApp>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <headlessForgotPasswordTemplate>unfiled$public/CommunityHeadlessForgotPasswordTemplate</headlessForgotPasswordTemplate>
    <headlessRegistrationTemplate>unfiled$public/CommunityHeadlessRegistrationTemplate</headlessRegistrationTemplate>
    <logoutUrl>http://login.salesforce.com</logoutUrl>
    <networkAuthApiSettings>
        <doesForgotPasswordRequireAuth>false</doesForgotPasswordRequireAuth>
        <doesPwdlessLoginRequireAuth>false</doesPwdlessLoginRequireAuth>
        <doesRegistrationRequireAuth>false</doesRegistrationRequireAuth>
        <isForgotPwdAllowed>false</isForgotPwdAllowed>
        <isForgotPwdEmailTemplateAllowlistingEnabled>false</isForgotPwdEmailTemplateAllowlistingEnabled>
        <isHeadlessUserRegistrationAllowed>false</isHeadlessUserRegistrationAllowed>
        <isPwdlessLoginAllowed>false</isPwdlessLoginAllowed>
        <isRecaptchaRequiredForgotPwd>false</isRecaptchaRequiredForgotPwd>
        <isRecaptchaRequiredPwdlessLogin>false</isRecaptchaRequiredPwdlessLogin>
        <isRecaptchaRequiredRgstr>false</isRecaptchaRequiredRgstr>
        <isUniversalClientRgstrAllowed>false</isUniversalClientRgstrAllowed>
        <maxPasswordResetAttempts>5</maxPasswordResetAttempts>
        <recaptchaScoreThreshold>0.0</recaptchaScoreThreshold>
    </networkAuthApiSettings>
    <networkMemberGroups>
        <profile>admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>copado_custom1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>copado_custom</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>UnderConstruction</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>copadocustom</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
