:host {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.bubble {
    background-color: #FAFAF9;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    padding: 0.25rem 0.5rem;
    max-width: 90%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.bubble.user  {
    background-color: #eef4ff;
    border-bottom-left-radius: 0.5rem;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.bubble pre {
    margin: 0;
    white-space: pre-wrap;
    font-family: var(--lwc-fontFamily);
}

small {
    font-style: italic;
    opacity: 0.5;
    margin-bottom: 1rem;
}

small.user {
    float: right;
    text-align: right;
}

.actions {
    margin-top: 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: right;
    justify-content: right;
}

.tinybutton {
    font-size: 0.7rem;
}


h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67__qem;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83__qem;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1__qem;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33__qem;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    -webkit-margin-before: 1.67__qem;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    -webkit-margin-before: 2.33__qem;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
code {
    color: blue;
}